* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

body {
    background-color: #f0f9ff;
}

.mainContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    max-width: 800px;
    margin: auto;
    padding: 0 20px;
}

.calculator {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-style: solid;
    border-radius: 10px;
    border: none;
    min-height: 500px;
    max-width: 400px;
    min-width: 250px;
    padding: 25px 0;
    background-color: #bae6fd;
    box-shadow: 1px 1px 10px #000;
}

.displayField {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    padding: 5px;
    margin: 5px;
    width: 90%;
    height: 100px;
    border-style: solid;
    border-radius: 10px;
    border: none;
    background-color: #fff;
    font-size: clamp(20px, 4vw, 30px);
}

.first{
    text-align: right;
}

.calculator button {
    margin: 5px;
    border-radius: 10px;
    border: none;
    width: 20%;
    font-size: clamp(20px, 5vw, 24px);
}

.calculator button {
    outline: 1px solid #7dd3fc;
}

.number, .decimal {
    background-color: #f8fafc;
}

.number:hover, .decimal:hover {
    background-color: #e2e8f0;
}

.operator, .posneg {
    background-color: #3b82f6;
    color: #fff;
}

.operator:hover, .posneg:hover {
    background-color: #2563eb;
}

.reset, .delete {
    background-color: #ef4444;
}

.reset:hover , .delete:hover {
    background-color: #dc2626;
}

#zero {
    min-width: 43%;
}

.equal {
    background-color: #22c55e;
    color: #fff;
}

.equal:hover {
    background-color: #16a34a;
}